package {{ .Namespace }};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

@SpringBootApplication(scanBasePackages = "{{ .BasePackages }}")
public class {{ .ApplicationName }} {

    public static void main(String[] args) {
        SpringApplication.run({{ .ApplicationName }}.class, args);
    }
}